<!DOCTYPE html>
{% load static %}

<!--Designined by CodingLab - youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title> Add Stock Form </title>
        <link rel="stylesheet" href="{% static 'staff\add_stock.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div class="title"> Addstock </div>
            <form action="#">
                <div class="user-details">        
                    <div class="input-box">
                        <span class="details">Item:</span>
                        <input type="text" placeholder="Enter item name"required>
                </div>   
                 <div class="input-box">
                    <span class="details">Cat:</span>
                    <input type="text" placeholder="Enter cat name"required>
            </div>
                <div class="input-box">
                <span class="details">Price:</span>
                <input type="text" placeholder="Enter price"required>
        </div>
        <div class="input-box">
            <span class="details">Quantity:</span>
            <input type="text" placeholder="Enter Quantity"required>
    </div>
    </div>
    <div class="button">
        <input type="submit" value="ADDSTOCK">
    </div>
            </form>
        </div>
    </body>
</html>