<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,maximum-scale=1,minimum-scale=1">
    <title>Leo Admin Dashboard</title>
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="{% static 'staff\dashboard.css' %}">
</head>

<body>
    <input type="checkbox" name="" id="sidebar-toggle">

    <div class="sidebar">
        <div class="sidebar-brand">
            <div class="brand-flex">
                <img src="https://img.freepik.com/premium-vector/grocery-store-logo-template-with-shopping-basket-food_884185-63.jpg"
                    alt="">

                <div class="brand-icons">
                    <span class="las la-bell"></span>
                    <span class="las la-user-circle"></span>
                </div>
            </div>
        </div>

        <div class="sidebar-main">
            <div class="sidebar-user">
                <img src="https://th.bing.com/th/id/OIP.UQF_ddj3AmPfUlon2g9_HAHaLG?w=115&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"
                    alt="">
                <div>
                    <h3>Adam Johnson</h3>
                    <span>adamjohnson@gmail.com</span>
                </div>
            </div>

            <div class="sidebar-menu">
                <div class="menu-head">
                    <span>Dashboard</span>
                </div>
                <ul>
                    <li>
                        <a href="orders">
                            <span class="las la-balance-scale"></span>
                            Orders
                        </a>
                    </li>
                    <li>
                        <a href="sale">
                            <span class="las la-chart-pie"></span>
                            Sale
                        </a>
                    </li>
                </ul>

                <div class="menu-head">
                    <span>Applications</span>
                </div>
                <ul>
                    <li>
                        <a href="inventory">
                            <span class="las la-calendar"></span>
                            Inventory
                        </a>
                    </li>
                    <li>
                        <a href="inventory">
                            <span class="las la-users"></span>
                            Add Stock
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="las la-shopping-cart"></span>
                            Daily Report
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="main-content">
        <header>

            <div class="menu-toggle">
                <label for="sidebar-toggle">
                    <span class="las la-bars"></span>
                </label>
            </div>

            <div class="header-icons">
                <span class="las la-search"></span>
                <span class="las la-bookmark"></span>
                <span class="las la-sms"></span>
            </div>
        </header>
        <main>

            <div class="page-header">
                <div>
                    <h1>Staff Dashboard</h1>
                    <small>Monitor key metrics. Check reporting and review insights</small>
                </div>

                <div class="header-actions">
                    <button>
                        <span class="las la-file-export"></span>
                        Export
                    </button>
                    <button>
                        <span class="las la-tools"></span>
                        Settings
                    </button>
                </div>
            </div>

            <div class="cards">
                <div class="card-single">
                    <div class="card-flex">
                        <div class="card-info">
                            <div class="card-head">
                                <span>purchases</span>
                                <small>Number of purchases</small>
                            </div>

                            <h2>17,663</h2>

                            <small>2% less purchases</small>
                        </div>
                        <div class="card-chart danger">
                            <span class="las la-chart-line"></span>
                        </div>
                    </div>
                </div>

                <div class="card-single">
                    <div class="card-flex">
                        <div class="card-info">
                            <div class="card-head">
                                <span>Sales</span>
                                <small>value of today's orders</small>
                            </div>

                            <h2>Rs.46,085</h2>

                            <small>2% less refund</small>
                        </div>
                        <div class="card-chart success">
                            <span class="las la-chart-line"></span>
                        </div>
                    </div>
                </div>

                <div class="card-single">
                    <a href="inventory">

                        <div class="card-flex">
                            <div class="card-info">
                                <div class="card-head">
                                    <span>Available Stock</span>
                                    <small>click to view Stock</small>
                                </div>

                                <h2>Rs 4,523.11</h2>

                                <small></small>
                            </div>
                            <div class="card-chart yellow">
                                <span class="las la-chart-line"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            
            
            <div class="carts-container">
                
                {% for order in orders %}   
                
                <div class="shopping-cart">
                    <div class="box">
                        <div class="header">
                            <h3>{{ order.name }}</h3>
                            <i class="las la-trash"></i>
                        </div>
                    </div>
                    {% for item in order.items %}
                    
                    <div class="box">
                        <i class="las la-trash"></i>
                        <img src="https://th.bing.com/th/id/OIP.i2s9YDTln48fqLWzk7BtwQHaIP?w=193&h=214&c=7&r=0&o=5&dpr=1.3&pid=1.7">
                        <div class="content">
                            <h3>{{ item.name }}</h3>
                            <span class="price">Rs {{ item.price }}/-</span>
                            <span class="quantity">qty: 1</span>
                        </div>
                    </div>
                    {% endfor %}
                    
    
                    <div class="total"> total : Rs {{ order.total }}/-</div>
                    <a href="" class="btn checkout">chechout</a>
                </div>
                {% endfor %}
                
                
            </div>

            

                
        </main>

    </div>
    <script src="{% static 'staff\dashboard.js' %}"></script>

    <label for="sidebar-toggle" class="body-label"></label>
</body>

</html>