<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="{% static 'staff\dashboard.css' %}">
</head>

<body>
    <input type="checkbox" name="" id="sidebar-toggle">

    {% include "components/sidebar.html" %}

    <div class="main-content">
        {% include "components/header.html" %}
        <main>
            <div class="jobs">
                <h2>Inventory <small>See all stock available <span class="las la-arrow-right"></span></small></h2>

                <div class="table-responsive">
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td>
                                    <div>
                                        <span class="indicator"></span>
                                    </div>
                                </td>
                                <td>
                                    <div>

                                        Item name
                                    </div>
                                </td>
                                <td>
                                    <div>

                                        Category
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Price
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Quantity
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <button>Stock Price</button>
                                    </div>
                                </td>
                            </tr>
                            {% for item in items %}
                            
                            <tr>
                                <td>
                                    <div>
                                        <span class="indicator"></span>
                                    </div>
                                </td>
                                <td>
                                    <div>

                                        {{ item.name }}
                                    </div>
                                </td>
                                <td>
                                    <div>

                                        {{ item.category }}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        {{ item.price }}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        {{ item.quantity }}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <button>{{ item.stock_price }}</button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
  
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>

</body>

</html>